<form action = "/annunci/add" method = "post">
    <p>
        <label>Partecipanti</label><input value = "" name = "partecipanti"></br>
        <label>Attrezzatura Necessaria</label><input value = "" name = "attrezzatura_necessaria"></br>
        <label>Costo</label><input value = "" name = "costo"></br>
        <label>Città</label><input value = "" name = "citta"></br>

        <button type="submit">Aggiungi Annuncio</button>
    </p>
</form>