<form action="/utenti/add" method="post">
    <p>
        <label>username</label><input value="" name="username">
        <label>password</label><input value="" name="password"></br>

        <button type="submit">Registrati</button>
    </p>
</form>